<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ebay Fitment Copy</title>
  <style>
  pre {
    color: red;
    margin: 5px;
    font-size: 14px;
  }
  </style>
</head>
<body>

<form method="post">
  <label for="source">Source Item</label>
  <input type="text" id="source" name="source"><br>
  <label for="destination">Destination Item</label>
  <input type="text" id="destination" name="destination"><br>
  <input type="submit"/>
</form>
<br>
<pre>
  {{ result }}
</pre>
 
</body>
</html>
